<mat-toolbar color= "accent">
  <!-- Barra de navegacion para Home,Maletas, BagCarts, Clientes, Vuelos -->
  <mat-toolbar-row>
    <span>TECMarket</span>
    <div class="routes">
      <a mat-button routerLink="../home">Home</a>
      <a mat-button routerLink="../maletas">SuperMarkets</a>
      <a mat-button routerLink="../bagCarts">Products</a>
      <a mat-button routerLink="../clientes">Orders</a>
    <!--  <a mat-button routerLink="../vuelos">Vuelos</a> -->
    </div>

    <!-- Boton de Log Out -->
    <div class="log-out">
        <a mat-button routerLink="..">Log Out</a>
    </div>
  </mat-toolbar-row>

